@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8efu4g');
  src:  url('fonts/icomoon.eot?8efu4g#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8efu4g') format('truetype'),
    url('fonts/icomoon.woff?8efu4g') format('woff'),
    url('fonts/icomoon.svg?8efu4g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
  content: "\e903";
  color: #2ca5e0;
}
.icon-linkedin:before {
  content: "\e902";
  color: #0077b5;
}
.icon-youtube:before {
  content: "\e901";
  color: #f00;
}
.icon-gmail:before {
  content: "\e900";
  color: #d14836;
}
